:root {
  --header-height: 55px;
  --header-backgroundColor: #698474;
  --header-mainIcon-widthAndHeight: 32px;
  --header-padding: 8px 24px;
  --header-icon-size: 32px;
  --header-nav-padding: 8px 12px;
  --header-nav-fontColor: black;

  --main-memo-width: 360px;
  --main-memo-height: 140px;
  --main-memo-boxShadow: 2px 2px 2px gray;
  --main-memo-titleFontSize: 20px;
  --main-memo-textFontsize: 16px;
  --main-memo-titleTextPadding: 5px;
  --main-box-borderRadius: 10px;
  --main-box-transition: box-shadow 0.3s ease-in-out;
}
