:root{
    --header-height: 55px;
    --header-backgroundColor: #698474;
    --header-mainIcon-widthAndHeight : 32px;
    --header-padding: 8px 24px; 
    --header-icon-size: 32px;
    --header-nav-padding: 8px 12px;
    --header-nav-fontColor: black;


    --main-memo-width: 360px;
    --main-memo-height: 140px;
    --main-memo-boxShadow : 2px 2px 2px gray;
    --main-memo-titleFontSize : 20px;
    --main-memo-textFontsize: 16px;
    --main-memo-titleTextPadding: 5px;
    --main-box-borderRadius : 10px;
    --main-box-transition : box-shadow 0.3s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/* header  START*/


header{
    display: flex;
    justify-content: space-between;
    background-color: var(--header-backgroundColor);
    padding : var(--header-padding);
}

header #headerLeft .header-nav {
    display: flex;
}

header #headerLeft .header-nav .headerLeft-programIcon img{
    height: var(--header-mainIcon-widthAndHeight);
    width : var(--header-mainIcon-widthAndHeight);
}

header #headerLeft .header-nav .headerLeft-programIcon i{
    font-size: var(--header-icon-size);
}

header #headerLeft .header-nav .header-menu-container{
    display: flex;
}

header #headerLeft .header-nav .header-menu-container li{
    padding: var(--header-nav-padding);
}

header #headerLeft .header-nav .header-menu-container li a{
    color: var(--header-nav-fontColor);
}

header #headerRight .header-night{
    font-size: var(--header-icon-size);
}

header #headerLeft .header-nav #headerLeft-menu{
    display: none;
    font-size: var(--header-icon-size);
}

/* header END */


/* main Start */

main .main-memo{
    width: var(--main-memo-width);
    height: var(--main-memo-height);
    margin: 36px auto;
    border-radius: var(--main-box-borderRadius);
    box-shadow: var(--main-memo-boxShadow);
    padding: 10px;
    cursor: pointer;
}

main .main-memo .main-memoTop{
    display: flex;
}

main .main-memo .main-memoTop .main-memoLeft{
    flex: 10;
}

main .main-memo .main-memoTop .main-memoLeft .memo-title{
    font-size: var(--main-memo-titleFontSize);
    padding: var(--main-memo-titleTextPadding);
}

main .main-memo .main-memoTop .main-memoLeft .memo-text{
    font-size: var(--main-memo-textFontsize);
    padding: var(--main-memo-titleTextPadding);
}

main .main-memo .main-memoTop .main-memoRight{
    flex: 1;
    font-size:24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main .main-memo .main-memoTop .main-memoRight i{
    margin-bottom: 15px;
}

main .main-starMemoToggle{
    background-color: #E5E4CC;
    width: 360px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    border-radius: var(--main-box-borderRadius);
    transition: var(--main-box-transition);
    cursor: pointer;
}

main .main-starMemoToggle:hover{
    box-shadow: var(--main-memo-boxShadow);
}

main #main-savedMemo{
    margin-left: 60px;
    margin-right: 60px;
}

main #main-savedMemo .savedMemo-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 20px 40px;
    justify-items: center;
}

main #main-savedMemo .savedMemo-container .memo{
    width: var(--main-memo-width);
    height: var(--main-memo-height);
    margin: 36px;
    border-radius: var(--main-box-borderRadius);
    border-top: 1.5px solid black;
    border-bottom : 1px solid black;
    padding: 10px;
    transition: var(--main-box-transition);
    cursor: pointer;
}

main #main-savedMemo .savedMemo-container .memo:hover{
    box-shadow: var(--main-memo-boxShadow);
}

main #main-savedMemo .savedMemo-container .memo .savedMemoTop{
    display: flex;
}

main #main-savedMemo .savedMemo-container .memo .savedMemoTop .savedMemoLeft{
    flex: 10;
}

main #main-savedMemo .savedMemo-container .memo .savedMemoTop .savedMemoLeft .memo-title{
    font-size: var(--main-memo-titleFontSize);
    padding: var(--main-memo-titleTextPadding);
}

main #main-savedMemo .savedMemo-container .memo .savedMemoTop .savedMemoLeft .memo-text{
    font-size: var(--main-memo-textFontSize);
    padding: var(--main-memo-titleTextPadding);
}

main #main-savedMemo .savedMemo-container .memo .savedMemoTop .savedMemoRight{
    flex: 1;
    font-size:24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: opacity 0.6s ease;
    opacity: 0;
    cursor: pointer;
}

main #main-savedMemo .savedMemo-container .memo .savedMemoTop .savedMemoRight i{
    margin-bottom: 15px;
}

.active{
    opacity: 1;
}

@media screen and (max-width:768px) {
    header{
        flex-direction: column;
    }

    header #headerLeft .header-nav{
        flex-direction: column;
    }

    header #headerLeft .header-nav #headerLeft-menu{
        display: block;
        position: relative;
        left: 12px;
        cursor: pointer;
    }

    header #headerLeft .header-nav .headerLeft-programIcon{
        display: none;
    }

    header #headerLeft .header-nav .header-menu-container{
        display: none;
        flex-direction: column;
    }

    header #headerRight{
        position: absolute;
        right: 32px;
        cursor: pointer;
    }
}
/* main END */


/* footer start */

footer .footerRight #footerRight-clickToTop{
    display:scroll;
    position:fixed;
    bottom:15px;
    right:15px;
}

/* footer END*/