.modalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modalContent {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  transition: all 1s ease-in-out;
  z-index: 2;
}

.modalContent .sideBarHeader {
  background-color: #698474;
  padding: 10px 12px;
  display: flex;
  align-items: center;
}

.modalContent .sideBarHeader .profileImage {
  width: 35px;
  margin-right: 10px;
}

.modalContent .sideBarHeader .userName {
  font-size: 24px;
}
