.registeredFolderListItem {
  display: flex;
  margin-top: 20px;
  font-size: 1.8rem;
  padding: 10px;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.registeredFolderListItemIcon {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.registeredFolderListItemIcon i {
  margin-left: 5px;
  cursor: pointer;
}
