.trashSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trashSectionHeader {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 30px;
  width: 360px;
}

.allDeleteBtn {
  border: none;
  background-color: white;
  cursor: pointer;
  color: grey;
  font-size: 16px;
  pointer-events: none;
}

.restoreDeleteBtn {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  color: grey;
  pointer-events: none;
}

.active {
  background-color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: black;
  pointer-events: all;
}

.savedMemoContainer {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  gap: 10px 20px;
  width: 100%;
  justify-items: center;
}
