.main-starMemoToggle {
  background-color: #e5e4cc;
  width: 360px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  border-radius: var(--main-box-borderRadius);
  transition: var(--main-box-transition);
  cursor: pointer;
}

.main-starMemoToggle:hover {
  box-shadow: var(--main-memo-boxShadow);
}
