.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.errorContainer .errorHeader {
  margin-bottom: 77px;
}

.errorMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.errorIcon {
  width: 160px;
  height: 200px;
  margin-bottom: 15px;
}

.errorContent {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 38px;
}

.loginRedirectButton {
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.loginRedirectLink {
  text-decoration: none;
  color: black;
}
