.errorModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 370px;
  height: 150px;
  padding: 10px;
  border-radius: 10px;
}

.errorModal .modalCloseButton {
  font-family: "Apple SD Gothic Neo";
  border: 0.7px solid black;
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  color: #4839fa;
  text-align: center;
  padding: 7px 47px;
}

.modalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
