.memoSection {
  display: inline-block;
  position: relative;
  width: fit-content;
  font-size: 24px;
  cursor: pointer;
  color: grey;
  text-align: center;
}

.memoSection .hr {
  visibility: hidden;
  border: none;
  border-bottom: 4px solid #4839fa;
  border-radius: 10px;
  width: 100%;
  margin-top: 0px;
}

.memoSection:hover .hr,
.memoSection:hover {
  color: black;
  visibility: visible;
}

.activeMemoSection {
  display: inline-block;
  position: relative;
  width: fit-content;
  font-size: 24px;
  cursor: pointer;
  color: black;
  text-align: center;
}
.activeHr {
  visibility: visible;
  border: none;
  border-bottom: 4px solid #4839fa;
  border-radius: 10px;
  width: 100%;
  margin-top: 0px;
}

.lineContainer {
  display: flex;
  justify-content: space-between;
}

.lineLeft {
  width: 75%;
}

.lineRight {
  width: 15%;
}

.trashIcon {
  width: 24px;
  height: 24px;
}
