.main-memo {
  width: var(--main-memo-width);
  height: var(--main-memo-height);
  margin: 36px auto;
  border-radius: var(--main-box-borderRadius);
  box-shadow: var(--main-memo-boxShadow);
  padding: 10px;
  cursor: pointer;
}

.main-memo .main-memoTop {
  display: flex;
}

.main-memo .main-memoTop .main-memoLeft .memo-title {
  font-family: "SeoulNamsanM";
  font-size: var(--main-memo-titleFontSize);
  padding: var(--main-memo-titleTextPadding);
  border: none;
}

.main-memo .main-memoTop .main-memoLeft .memo-title:focus {
  outline: none;
}

.main-memo .main-memoTop .main-memoLeft .memo-text {
  font-size: var(--main-memo-textFontsize);
  font-family: "LeferiPoint-WhiteObliqueA";
  padding: var(--main-memo-titleTextPadding);
  border: none;
  resize: none;
}

.main-memo .main-memoTop .main-memoLeft .memo-text::-webkit-scrollbar {
  display: none;
}

.main-memo .main-memoTop .main-memoLeft .memo-text:focus {
  outline: none;
}

.main-memo .main-memoTop .main-memoRight {
  flex: 1;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-memo .main-memoTop .main-memoRight i {
  margin-top: 10px;
}

.main-memo .main-memoBottom {
  display: flex;
  justify-content: space-between;
}

.main-memo .main-memoBottom .main-memoBottomRight {
  margin-right: 35px;
}

.main-memo .main-memoBottom .main-memoBottomRight .main-memoSave {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}
